* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(212, 212, 212);
}

/* HEADER */
header {
    background-color: white;

}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: monospace;
}

.button {
    background-color: rgb(212, 212, 212);
    padding: 15px;
    border-radius: 3px;
}

.button:hover {
    transition: 0.3s ease-in-out;
    background-color: rgb(241, 209, 0);
}

.h1-jecky {
    color: black
}

.h1-jecky:hover {
    color: rgb(241, 209, 0);
    transition: 0.8s ease-in-out;
}

.span-ding {
    color: rgb(241, 209, 0);
}

.span-ding:hover {
    color: black;
    transition: 0.8s ease-in-out;
}

.a-header {
    color: black;
    text-decoration: none;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 2px;
}

.ul-navbar {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
}

.li-navbar:hover {
    transform: rotate(3deg);
    color: rgb(50, 50, 50);
    transition: 0.3s ease-in-out;
}

.a-li-navbar {
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.search-icon {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.search-icon:hover {
    height: 22px;
    width: 22px;
    transition: 0.6s ease-in-out;
}

/* CONTENT NAVBAR */
.container-navbar {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-menu {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 2px;

}

.ul-li {
    margin-top: 15px;
    width: 700px;
}

.ul-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.li-content {
    list-style-type: none;
    margin-right: 5px;

}

.a-li-content {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;


}

.a-li-content:hover {
    transition: 0.3s ease-in-out;
    background-color: rgb(241, 209, 0);
}

.img-apaitujs {
    width: 50%;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}

.apaitujs {
    margin: 20px;
    margin-left: 0px;
}

.span-js {
    color: rgb(241, 209, 0);
}

.logo {
    display: flex;
    align-items: center;
}

.img-logoj {
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.img-logoj:hover {
    height: 5.3%;
    width: 5.3%;
}

.profile-jeckyding {
    margin: 8px;
    text-decoration: none;
}

.a-share {
    text-decoration: none;
    color: black;
}

.div-share {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    background-color: rgb(212, 212, 212);
    width: 110px;
    padding: 6px;
    border-radius: 3px;
}

.div-share:hover {
    background-color: rgb(241, 209, 0);
    transition: 0.3s ease-in-out;
}

.img-share {
    height: 30%;
    width: 30%;
    margin-right: 8px;
}


/* CONTENT  */
.div-content {
    background-color: white;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-p1 {
    font-size: 17px;
    width: 70%;
    margin: 50px;
}

.p2 {
    margin-top: 40px;
}

.p3 {
    margin-top: 40px;
}

.p4 {
    margin-top: 40px;
}

/* PENGERTIAN JS  */
.div-img-js {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-js {
    height: 50%;
    width: 50%;
}

.div-js {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.div-p1-js {
    width: 70%;
    margin-top: 50px;
}

.p2-js {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* SEJARAH JS  */
.container-sejarah-js {
    background-color: white;
}

.container-h1-sejarah {
    display: flex;
    justify-content: center;
    align-items: center;
}


.div-sejarah-js {
    width: 70%;
}

.sejarah-js {
    margin-bottom: 50px;
    cursor: pointer;

}

.sejarah-js:hover {
    color:rgb(241, 209, 0);
    transition: 0.3s ease-in-out;
    font-size: 27px;
}

.div-img-sejarah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sejarah-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1-sejarah {
    width: 70%;
}

.p1-js {
    margin-top: 40px;
}

/* MENGAPA JS  */
.h1-mengapajs {
    margin-top: 50px;
    cursor: pointer;
}

.h1-mengapajs:hover {
    color:rgb(241, 209, 0);
    transition: 0.3s ease-in-out;
    font-size: 27px;
}

.div-img-mengapajs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.p1-mengapajs {
    margin-top: 50px;
    margin-bottom: 30px;
}